body {
    font-size: 20px;
    font-family: Calibri, sans-serif;
    background-color: #0f172a; 
    color: #e2e8f0;
    margin: 0;
    padding: 25px;
    text-align: right;
}

nav ul {
    display: flex;
    list-style: none;
    color: #b8d3ff;
    gap: 30px;
    text-align: center;
}

a {
    color: #38bdf8;          
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
    color: #7dd3fc; 
}

ul {
    list-style: none;
}

h2 {
    font-weight: bold;
    color: #ff002f:
}

.section_frame {
    background-color: #1e293b;
    border: 1px solid #334155;
    border-radius: 12px;     
    padding: 30px; 
    margin-bottom: 40px;
}

.project_div {
    margin-bottom: 250px;
    
    background-color: #181f2b;
    border: 1px solid #2a3545;
    border-radius: 15px;     
    padding: 20px; 
    margin-bottom: 20px;
}
